openapi: 3.0.0
info:
  description: "api.video is an API that encodes on the go to facilitate immediate\
    \ playback, enhancing viewer streaming experiences across multiple devices and\
    \ platforms. You can stream live or on-demand online videos within minutes."
  title: api.video
  version: "1"
  x-konfig-ignore:
    potential-incorrect-type: true
  x-konfig-uses-multipart-form-data: true
servers:
- description: Production server
  url: https://ws.api.video
- description: "Test server `all videos are watermarked, and deleted after 24 hours."
  url: https://sandbox.api.video
tags:
- name: Videos
- name: Live Streams
- name: Player Themes
- name: Captions
- name: Upload Tokens
- name: Chapters
- name: Webhooks
- name: Watermarks
- name: Advanced authentication
- name: Analytics
paths:
  /auth/api-key:
    post:
      description: |-
        Returns a bearer token that can be used to authenticate other endpoint.

        You can find the tutorial on using the disposable bearer token [here](https://docs.api.video/reference/disposable-bearer-token-authentication).
      operationId: AdvancedAuthentication_getBearerToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticate-payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    token_type: Bearer
                    expires_in: 3600
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjUyZWM4NWUyMjFkODZjOWI0NDQ5NzBhMjQwMzUyOWQ4MDQyNGQ3ZmJjYjFlYWM2MjVlM2VkMjI2YWRlNTcxMDY2NDUyZDc0NjdhN2E4NjI0In0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiNTJlYzg1ZTIyMWQ4NmM5YjQ0NDk3MGEyNDAzNTI5ZDgwNDI0ZDdmYmNiMWVhYzYyNWUzZWQyMjZhZGU1NzEwNjY0NTJkNzQ2N2E3YTg2MjQiLCJpYXQiOjE1MjUyNzYxNDcsIm5iZiI6MTUyNTI3NjE0NywiZXhwIjoxNTI1Mjc5NzQ3LCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.rUvishDNyJLNlI4W5VmguNecm5KD2uZgPkKJQbaqw-cJbSrVxkSbiKYtk_E3cz3WT7-IS2yFTsYN3uIo5Rbit8_HftweyEp2bdBRI8yjR6oZZ1sNJJXswISN1i2kk4r-aaxu7Xxf_LtsjOMUj_YZsvcc2nqBXPKjHbJCJryx3DDJaIcymOqao7nhQaCCQyrQooAXNTYs4E9fWN1dC_x2O-zok5TuG-xhEW-umwxfSUMWNgSTkz38ACceQ0PCJSgB3jqjDH4MwC7B3ppEPZuK5E6JhKeyRlalswRyYq3UQPnVeMTam7YQHsuTgbehF6WySW8i44o7V_MCe9hjPdp-WA
                    refresh_token: def50200a28d88fb9aaa921be78eeb5604b071101a334899a7d5fc7492cf8ea752962ddc8961fe5c126101d4ecacd980396eb2fd494995b812dffcb98256c4277f790d1f658fc2d2e34f350740544e5232d69d68d34c648271d706c5e7049adac0b1832d0fdf71809715cc7e97fa63f65966deadb501a55ff469b0fd23a637cb6acbe9d9b8594a17f09efc2efeed82984764a0065d5e29c950c7b081a61ba2aaa192be3085c400ee37eac50fa9320ce2cfe8916c8165418d23e9f91b6a5c8515e1d74ee193a5a1ca01954fbff27361c20184240be2359e0afbed0bf1c762cf872450b5e8b5d4704f4fd9583e4470adc98409dd42965709712806bd9019378a72eea0b4912ce684ffd833db5806ab84174f905db2a75380071d004615c944bb8f8c4045cce7234c2be9a2330522cf7f067b8e58f57cffb6edb4b7ef91313e12bcde47e5e76ceee7fa52990132288f345d33ed917ae4fd54b7284f8964d898e97e1ee3bc4157f75d7fee63976e4be66ac1ec32ef74afa533f0eb593523f226cbec57d196ac8962
              schema:
                $ref: '#/components/schemas/access-token'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: The user credentials were incorrect.
                    type: https://docs.api.video/docs/authenticationinvalid_credentials
                    name: ""
                    status: 400
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
          x-do-not-generate: true
      summary: Get Bearer Token
      tags:
      - Advanced authentication
      x-client-action: authenticate
      x-client-hidden: true
      x-doctave:
        code-samples:
        - language: go
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: node
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: php
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: python
          code: |
            #With the api.video API clients, authentication is taken care of with each client created.
            # You get to skip this step!
        - language: java
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: csharp
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: swift
          code: |
            // With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--auth-api-key
      x-content-type: application/json
      x-accepts: application/json
  /auth/refresh:
    post:
      description: |-
        Accepts the old bearer token and returns a new bearer token that can be used to authenticate other endpoint.

        You can find the tutorial on using the disposable bearer token [here](https://docs.api.video/reference/disposable-bearer-token-authentication).
      operationId: AdvancedAuthentication_refreshBearerToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refresh-token-payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    token_type: Bearer
                    expires_in: 3600
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjUyZWM4NWUyMjFkODZjOWI0NDQ5NzBhMjQwMzUyOWQ4MDQyNGQ3ZmJjYjFlYWM2MjVlM2VkMjI2YWRlNTcxMDY2NDUyZDc0NjdhN2E4NjI0In0.eyJhdWQiOiJsaWJjYXN0IiwianRpIjoiNTJlYzg1ZTIyMWQ4NmM5YjQ0NDk3MGEyNDAzNTI5ZDgwNDI0ZDdmYmNiMWVhYzYyNWUzZWQyMjZhZGU1NzEwNjY0NTJkNzQ2N2E3YTg2MjQiLCJpYXQiOjE1MjUyNzYxNDcsIm5iZiI6MTUyNTI3NjE0NywiZXhwIjoxNTI1Mjc5NzQ3LCJzdWIiOiJ1c01vbml0b3IiLCJzY29wZXMiOlsibW9uaXRvci5saWJjYXN0LmNvbSJdLCJjb250ZXh0Ijp7InVzZXIiOiJ1c01vbml0b3IiLCJwcm9qZWN0IjoicHJNb25pdG9yIiwibWVtYmVyIjoibWVNb25pdG9yIn19.rUvishDNyJLNlI4W5VmguNecm5KD2uZgPkKJQbaqw-cJbSrVxkSbiKYtk_E3cz3WT7-IS2yFTsYN3uIo5Rbit8_HftweyEp2bdBRI8yjR6oZZ1sNJJXswISN1i2kk4r-aaxu7Xxf_LtsjOMUj_YZsvcc2nqBXPKjHbJCJryx3DDJaIcymOqao7nhQaCCQyrQooAXNTYs4E9fWN1dC_x2O-zok5TuG-xhEW-umwxfSUMWNgSTkz38ACceQ0PCJSgB3jqjDH4MwC7B3ppEPZuK5E6JhKeyRlalswRyYq3UQPnVeMTam7YQHsuTgbehF6WySW8i44o7V_MCe9hjPdp-WA
                    refresh_token: def50200a28d88fb9aaa921be78eeb5604b071101a334899a7d5fc7492cf8ea752962ddc8961fe5c126101d4ecacd980396eb2fd494995b812dffcb98256c4277f790d1f658fc2d2e34f350740544e5232d69d68d34c648271d706c5e7049adac0b1832d0fdf71809715cc7e97fa63f65966deadb501a55ff469b0fd23a637cb6acbe9d9b8594a17f09efc2efeed82984764a0065d5e29c950c7b081a61ba2aaa192be3085c400ee37eac50fa9320ce2cfe8916c8165418d23e9f91b6a5c8515e1d74ee193a5a1ca01954fbff27361c20184240be2359e0afbed0bf1c762cf872450b5e8b5d4704f4fd9583e4470adc98409dd42965709712806bd9019378a72eea0b4912ce684ffd833db5806ab84174f905db2a75380071d004615c944bb8f8c4045cce7234c2be9a2330522cf7f067b8e58f57cffb6edb4b7ef91313e12bcde47e5e76ceee7fa52990132288f345d33ed917ae4fd54b7284f8964d898e97e1ee3bc4157f75d7fee63976e4be66ac1ec32ef74afa533f0eb593523f226cbec57d196ac8962
              schema:
                $ref: '#/components/schemas/access-token'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: The user credentials were incorrect.
                    status: 400
                    type: https://docs.api.video/docs/authenticationinvalid_credentials
                    name: ""
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
          x-do-not-generate: true
      summary: Refresh Bearer Token
      tags:
      - Advanced authentication
      x-client-action: refresh
      x-client-hidden: true
      x-doctave:
        code-samples:
        - language: go
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: node
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: php
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: python
          code: |
            #With the api.video API clients, authentication is taken care of with each client created.
            # You get to skip this step!
        - language: java
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: csharp
          code: |
            //With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
        - language: swift
          code: |
            // With the api.video API clients, authentication is taken care of with each client created.
            // You get to skip this step!
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--auth-refresh
      x-content-type: application/json
      x-accepts: application/json
  /videos:
    get:
      description: List all the video objects that are associated with the current
        workspace.
      operationId: Videos_listAllObjects
      parameters:
      - description: The title of a specific video you want to find. The search will
          match exactly to what term you provide and return any videos that contain
          the same term as part of their titles.
        example: My Video.mp4
        explode: true
        in: query
        name: title
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: My Video.mp4
      - description: A tag is a category you create and apply to videos. You can search
          for videos with particular tags by listing one or more here. Only videos
          that have all the tags you list will be returned.
        example: "[\"captions\", \"dialogue\"]"
        explode: true
        in: query
        name: "tags[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-konfig-original-example: "[\"captions\", \"dialogue\"]"
      - description: "Videos can be tagged with metadata tags in key:value pairs.\
          \ You can search for videos with specific key value pairs using this parameter.\
          \ [Dynamic Metadata](https://api.video/blog/endpoints/dynamic-metadata/)\
          \ allows you to define a key that allows any value pair."
        example: "metadata[Author]=John Doe&metadata[Format]=Tutorial"
        explode: true
        in: query
        name: metadata
        required: false
        schema:
          additionalProperties:
            type: string
          type: object
        style: deepObject
        x-is-deep-object: true
        x-konfig-original-example: "metadata[Author]=John Doe&metadata[Format]=Tutorial"
      - description: Retrieve video objects by `description`.
        example: New Zealand
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: New Zealand
      - description: Retrieve video objects that were recorded from a live stream
          by `liveStreamId`.
        example: li400mYKSgQ6xs7taUeSaEKr
        explode: true
        in: query
        name: liveStreamId
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: li400mYKSgQ6xs7taUeSaEKr
      - description: "Use this parameter to sort videos by the their created time,\
          \ published time, updated time, or by title."
        example: publishedAt
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          enum:
          - title
          - createdAt
          - publishedAt
          - updatedAt
          type: string
        style: form
        x-konfig-original-example: publishedAt
      - description: Use this parameter to sort results. `asc` is ascending and sorts
          from A to Z. `desc` is descending and sorts from Z to A.
        example: asc
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
        x-konfig-original-example: asc
      - description: "Choose the number of search results to return per page. Minimum\
          \ value: 1"
        example: 2
        explode: true
        in: query
        name: currentPage
        required: false
        schema:
          default: 1
          example: 1
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-current-page-schema
        style: form
        x-konfig-original-example: 2
      - description: "Results per page. Allowed values 1-100, default is 25."
        example: 30
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          example: 25
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-page-size-schema
        style: form
        x-konfig-original-example: 30
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                    - tags:
                      - maths
                      - string theory
                      - video
                      title: Maths video
                      description: An amazing video explaining the string theory
                      videoId: vi4blUQJFrYWbaG44NChkH27
                      playerId: pl45KFKdlddgk654dspkze
                      public: false
                      panoramic: false
                      mp4Support: true
                      metadata:
                      - key: Author
                        value: John Doe
                      - key: Format
                        value: Tutorial
                      publishedAt: 2019-12-16T08:25:51.000Z
                      updatedAt: 2019-12-16T08:48:49.000Z
                      source:
                        uri: /videos/c188ed58-3403-46a2-b91b-44603d10b2c9/source
                      assets:
                        iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                          width="100%" height="100%" frameborder="0" scrolling="no"
                          allowfullscreen=""></iframe>
                        player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                        hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                        thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                        mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4
                    - tags:
                      - books
                      - short stories
                      title: Video Title
                      description: A description for your video.
                      videoId: vi4blUQJFrYWbaG44NChkH27
                      public: false
                      panoramic: false
                      mp4Support: true
                      metadata:
                      - key: Author
                        value: John Doe
                      - key: Science Fiction
                        value: Cyberpunk
                      - key: Technology
                        value: Computers
                      publishedAt: 2019-12-16T08:25:51.000Z
                      updatedAt: 2019-12-16T08:48:49.000Z
                      source:
                        uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                      assets:
                        iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                          width="100%" height="100%" frameborder="0" scrolling="no"
                          allowfullscreen=""></iframe>
                        player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                        hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                        thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                        mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4
                    - tags:
                      - General
                      - Videos
                      title: My Video Title
                      description: A brief description of the video.
                      videoId: vi4blUQJFrYWbaG44NChkH27
                      playerId: pl45KFKdlddgk654dspkze
                      public: false
                      panoramic: false
                      mp4Support: true
                      metadata:
                      - key: Length
                        value: Short
                      publishedAt: 2019-12-16T08:25:51.000Z
                      updatedAt: 2019-12-16T08:48:49.000Z
                      source:
                        uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                      assets:
                        iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                          width="100%" height="100%" frameborder="0" scrolling="no"
                          allowfullscreen=""></iframe>
                        player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                        hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                        thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                        mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4
                    pagination:
                      currentPage: 1
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 11
                      currentPageItems: 11
                      links:
                      - rel: self
                        uri: https://ws.api.video/videos?currentPage=1
                      - rel: first
                        uri: https://ws.api.video/videos?currentPage=1
                      - rel: last
                        uri: https://ws.api.video/videos?currentPage=1
              schema:
                $ref: '#/components/schemas/videos-list-response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: This parameter is out of the allowed range of values.
                    name: page
                    status: 400
                    range:
                      min: 1
                    problems:
                    - title: This parameter is out of the allowed range of values.
                      name: page
                      range:
                        min: 1
                    - title: This parameter is out of the allowed range of values.
                      name: pageSize
                      range:
                        min: 10
                        max: 100
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
          x-do-not-generate: true
      security:
      - apiKey: []
      summary: List all video objects
      tags:
      - Videos
      x-client-description:
        default: "This method returns a list of your videos (with all their details).\
          \ With no parameters added, the API returns the first page of all videos.\
          \ You can filter videos using the parameters described below."
      x-doctave:
        code-samples:
        - language: php
          code: |
            <?php
            // First install the api client: "composer require api-video/php-api-client"
            // Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/VideosApi.md#list

            require __DIR__ . '/vendor/autoload.php';


            $client = new \ApiVideo\Client\Client(
                'https://ws.api.video',
                'YOUR_API_KEY',
                new \Symfony\Component\HttpClient\Psr18Client()
            );

            // list all videos (all pages)
            $allVideos = [];
            do {
                $currentPage = $client->videos()->list([]);
                $allVideos = array_merge($allVideos, $currentPage->getData());
            } while($currentPage->getPagination()->getCurrentPage() < $currentPage->getPagination()->getPagesTotal());

            // list videos that have all the given tags (only first results page)
            $videosWithTag = $client->videos()->list(['tags' => ['TAG2','TAG1']]);

            // list videos that have all the given metadata values (only first results page)
            $videosWithMetadata = $client->videos()->list(['metadata' => ['key1' => 'key1value1', 'key2' => 'key2value1']]);
        - language: java
          code: |-
            // First add the "video.api:java-api-client" maven dependency to your project
            // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/VideosApi.md#list

            ApiVideoClient client = new ApiVideoClient("YOUR_API_KEY");
            VideosApi videosApi = client.videos();

            // list all videos (all pages)
            Page<Video> videosPages = videosApi.list().execute();
            videosPages.forEach(videosPage -> videosPage.getItems().forEach(video ->
                System.out.println(video.getVideoId())
            ));

            // list videos that have all the given tags (only first results page)
            List<Video> videosWithTags = videosApi.list()
                .tags(Arrays.asList("tag1", "tag2"))
                .execute()
                .getItems();

            // list videos that have all the given metadata values (only first results page)
            List<Video> videosWithMetadata = videosApi.list()
                .metadata(Map.of("key1", "value1", "key2", "value2"))
                .execute()
                .getItems();
        - language: node
          code: |-
            // First install the "@api.video/nodejs-client" npm package
            // Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/VideosApi.md#list

            const client = new ApiVideoClient({ apiKey: "YOUR_API_KEY" });

            // list all videos (all pages)
            let allVideos = [];
            for(let currentPage=1 ; ; currentPage++) {
              const res = await client.videos.list({ currentPage });
              allVideos = [...allVideos, ...res.data];
              if(currentPage >= res.pagination.pagesTotal) {
                break;
              }
            }

            // list videos that have all the given tags (only first results page)
            const videosWithTags = await client.videos.list({ tags: ["tag1", "tag2"] });

            // list videos that have all the given metadata values (only first results page)
            const videosWithMetadata = await client.videos.list({ metadata: { "key1": "value1", "key2": "value2" } })
        - language: csharp
          code: |
            // First add the "ApiVideo" NuGet package to your project
            // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/VideosApi.md#list
        - language: go
          code: |
            // First install the go client with "go get github.com/apivideo/api.video-go-client"
            // Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/VideosApi.md#list
        - language: python
          code: |
            # First install the api client with "pip install api.video"
            # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/VideosApi.md#list
        - language: swift
          code: |
            // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
            // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/VideosAPI.md#list
      x-client-action: list
      x-group-parameters: true
      x-client-paginated: true
      x-optional-object: true
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--videos
      x-accepts: application/json
    post:
      description: |
        Creates a video object. More information on video objects can be found [here](https://docs.api.video/reference/api/Videos).
      operationId: Videos_createObject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-creation-payload'
        description: video to create
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    tags:
                    - maths
                    - string theory
                    - video
                    title: Maths video
                    description: An amazing video explaining the string theory
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    public: false
                    panoramic: false
                    mp4Support: true
                    playerId: pl4k0jvEUuaTdRAEjQ4Jfrgz
                    metadata:
                    - key: Author
                      value: John Doe
                    - key: Format
                      value: Tutorial
                    publishedAt: 4665-07-14T23:36:18.598Z
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                        width="100%" height="100%" frameborder="0" scrolling="no"
                        allowfullscreen=""></iframe>
                      player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                      hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                      thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                      mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4
              schema:
                $ref: '#/components/schemas/video'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video'
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: This attribute is required.
                    type: https://docs.api.video/docs/attributerequired
                    name: title
                    status: 400
                    problems:
                    - title: This attribute is required.
                      type: https://docs.api.video/docs/attributerequired
                      name: title
                    - title: This attribute must be a ISO8601 date.
                      type: https://docs.api.video/docs/attributeinvalid
                      name: scheduledAt
                    - title: This attribute must be an array.
                      type: https://docs.api.video/docs/attributeinvalid
                      name: tags
                    - title: This attribute must be an array.
                      type: https://docs.api.video/docs/attributeinvalid
                      name: metadata
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
          x-do-not-generate: true
      security:
      - apiKey: []
      summary: Create a video object
      tags:
      - Videos
      x-client-action: create
      x-doctave:
        code-samples:
        - language: go
          code: "// First install the go client with \"go get github.com/apivideo/api.video-go-client\"\
            \n// Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/VideosApi.md#create\n\
            \npackage main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\
            \    apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_KEY\").Build()\n\
            \    // if you rather like to use the sandbox environment:\n    // client\
            \ := apivideosdk.SandboxClientBuilder(\"YOUR_SANDBOX_API_KEY\").Build()\n\
            \        \n    videoCreationPayload := *apivideosdk.NewVideoCreationPayload(\"\
            Maths video\") // VideoCreationPayload | video to create\n\n    \n   \
            \ res, err := client.Videos.Create(videoCreationPayload)\n\n    if err\
            \ != nil {\n        fmt.Fprintf(os.Stderr, \"Error when calling `Videos.Create``:\
            \ %v\\\n\", err)\n    }\n    // response from `Create`: Video\n    fmt.Fprintf(os.Stdout,\
            \ \"Response from `Videos.Create`: %v\\\n\", res)\n}\n"
        - language: node
          code: "// First install the \"@api.video/nodejs-client\" npm package\n//\
            \ Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/VideosApi.md#create\n\
            \nconst client = new ApiVideoClient({ apiKey: \"YOUR_API_KEY\" });\n\n\
            // create a simple video\nconst video = await client.videos.create({ title:\
            \ \"Maths video\" });\n\n// create a video using an existing source\n\
            const existingSourceVideo = await client.videos.create({\n  title: \"\
            Video using an existing source\", \n  source: \"https://www.myvideo.url.com/video.mp4\"\
            , \n});\n\n// create a private video\nconst privateVideo = await client.videos.create({\n\
            \  title: \"Video using an existing source\", \n  _public: false,\n});\n\
            \n// create a video using all available attributes\nconst video = await\
            \ client.videos.create({\n  title: \"Maths video\", // The title of your\
            \ new video.\n  description: \"A video about string theory.\", // A brief\
            \ description of your video.\n  source: \"https://www.myvideo.url.com/video.mp4\"\
            , // If you add a video already on the web, this is where you enter the\
            \ url for the video.\n  _public: true, // Whether your video can be viewed\
            \ by everyone, or requires authentication to see it. A setting of false\
            \ will require a unique token for each view.\n  panoramic: false, // Indicates\
            \ if your video is a 360/immersive video.\n  mp4Support: true, // Enables\
            \ mp4 version in addition to streamed version.\n  playerId: \"pl45KFKdlddgk654dspkze\"\
            , // The unique identification number for your video player.\n  tags:\
            \ [\"maths\", \"string theory\", \"video\"], // A list of tags you want\
            \ to use to describe your video.\n  metadata: [{\"key\": \"Author\", \"\
            value\": \"John Doe\"}], // A list of key value pairs that you use to\
            \ provide metadata for your video. These pairs can be made dynamic, allowing\
            \ you to segment your audience. You can also just use the pairs as another\
            \ way to tag and categorize your videos.\n});\n"
        - language: php
          code: |
            <?php
            // First install the api client: "composer require api-video/php-api-client"
            // Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/VideosApi.md#create

            require __DIR__ . '/vendor/autoload.php';

            $client = new \ApiVideo\Client\Client(
                'https://ws.api.video',
                'YOUR_API_KEY',
                new \Symfony\Component\HttpClient\Psr18Client()
            );

            // create a simple video
            $video = $client->videos()->create((new \ApiVideo\Client\Model\VideoCreationPayload())->setTitle("Maths video"));

            // create a video using an existing source
            $existingSourceVideo = $client->videos()->create((new \ApiVideo\Client\Model\VideoCreationPayload())
                ->setTitle("Maths video")
                ->setSource("https://www.myvideo.url.com/video.mp4"));

            // create a private video
            $privateVideo = $client->videos()->create((new \ApiVideo\Client\Model\VideoCreationPayload())
                ->setTitle("Maths video")
                ->setPublic(false));

            // create a video using all available attributes
            $anotherVideo = $client->videos()->create((new \ApiVideo\Client\Model\VideoCreationPayload())
                ->setTitle("Maths video") // The title of your new video.
                ->setDescription("A video about string theory.") // A brief description of your video.
                ->setSource("https://www.myvideo.url.com/video.mp4") // If you add a video already on the web, this is where you enter the url for the video.
                ->setPublic(true) // Whether your video can be viewed by everyone, or requires authentication to see it. A setting of false will require a unique token for each view.
                ->setPanoramic(false) // Indicates if your video is a 360/immersive video.
                ->setMp4Support(true) // Enables mp4 version in addition to streamed version.
                ->setPlayerId("pl45KFKdlddgk654dspkze") // The unique identification number for your video player.
                ->setTags(array("TAG1", "TAG2")) // A list of tags you want to use to describe your video.
                ->setMetadata(array( // A list of key value pairs that you use to provide metadata for your video. These pairs can be made dynamic, allowing you to segment your audience. You can also just use the pairs as another way to tag and categorize your videos.
                    new \ApiVideo\Client\Model\Metadata(['key' => 'key1', 'value' => 'key1value1']),
                    new \ApiVideo\Client\Model\Metadata(['key' => 'key2', 'value' => 'key2value1']))));
        - language: python
          code: |
            # First install the api client with "pip install api.video"
            # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/VideosApi.md#create

            import apivideo
            from apivideo.api import videos_api
            from apivideo.model.video_creation_payload import VideoCreationPayload
            from apivideo.model.bad_request import BadRequest
            from apivideo.model.video import Video
            from pprint import pprint

            # Enter a context with an instance of the API client
            with apivideo.AuthenticatedApiClient(__API_KEY__) as api_client:
                # Create an instance of the API class
                api_instance = videos_api.VideosApi(api_client)
                video_creation_payload = VideoCreationPayload(
                    title="Maths video",
                    description="A video about string theory.",
                    source="https://www.myvideo.url.com/video.mp4",
                    public=True,
                    panoramic=False,
                    mp4_support=True,
                    player_id="pl45KFKdlddgk654dspkze",
                    tags=["maths", "string theory", "video"],
                    metadata=[
                        Metadata(
                            key="Color",
                            value="Green",
                        ),
                    ],
                ) # VideoCreationPayload | video to create

                # example passing only required values which don't have defaults set
                try:
                    # Create a video
                    api_response = api_instance.create(video_creation_payload)
                    pprint(api_response)
                except apivideo.ApiException as e:
                    print("Exception when calling VideosApi->create: %s\n" % e)
        - language: java
          code: "// First add the \"video.api:java-api-client\" maven dependency to\
            \ your project\n// Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/VideosApi.md#create\n\
            \nimport video.api.client.ApiVideoClient;\nimport video.api.client.api.ApiException;\n\
            import video.api.client.api.models.*;\nimport video.api.client.api.clients.VideosApi;\n\
            import java.util.*;\n\npublic class Example {\n  public static void main(String[]\
            \ args) {\n    ApiVideoClient client = new ApiVideoClient(\"YOUR_API_KEY\"\
            );\n    // if you rather like to use the sandbox environment:\n    //\
            \ ApiVideoClient client = new ApiVideoClient(\"YOUR_SANDBOX_API_KEY\"\
            , ApiVideoClient.Environment.SANDBOX);\n\n    VideosApi apiInstance =\
            \ client.videos();\n    \n    VideoCreationPayload videoCreationPayload\
            \ = new VideoCreationPayload(); // video to create\n    videoCreationPayload.setTitle(\"\
            Maths video\"); // The title of your new video.\n    videoCreationPayload.setDescription(\"\
            A video about string theory.\"); // A brief description of your video.\n\
            \    videoCreationPayload.setSource(\"https://www.myvideo.url.com/video.mp4\"\
            ); // If you add a video already on the web, this is where you enter the\
            \ url for the video.\n    videoCreationPayload.setPublic(true); // Whether\
            \ your video can be viewed by everyone, or requires authentication to\
            \ see it. A setting of false will require a unique token for each view.\n\
            \    videoCreationPayload.setPanoramic(false); // Indicates if your video\
            \ is a 360/immersive video.\n    videoCreationPayload.setMp4Support(true);\
            \ // Enables mp4 version in addition to streamed version.\n    videoCreationPayload.setPlayerId(\"\
            pl45KFKdlddgk654dspkze\"); // The unique identification number for your\
            \ video player.\n    videoCreationPayload.setTags(Arrays.asList(\"maths\"\
            , \"string theory\", \"video\")); // A list of tags you want to use to\
            \ describe your video.\n    videoCreationPayload.setMetadata(Collections.<Metadata>emptyList());\
            \ // A list of key value pairs that you use to provide metadata for your\
            \ video. These pairs can be made dynamic, allowing you to segment your\
            \ audience. You can also just use the pairs as another way to tag and\
            \ categorize your videos.\n\n\n    try {\n      Video result = apiInstance.create(videoCreationPayload);\n\
            \      System.out.println(result);\n    } catch (ApiException e) {\n \
            \     System.err.println(\"Exception when calling VideosApi#create\");\n\
            \      System.err.println(\"Status code: \" + e.getCode());\n      System.err.println(\"\
            Reason: \" + e.getMessage());\n      System.err.println(\"Response headers:\
            \ \" + e.getResponseHeaders());\n      e.printStackTrace();\n    }\n \
            \ }\n}\n"
        - language: csharp
          code: |
            // First add the "ApiVideo" NuGet package to your project
            // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/VideosApi.md#create

            using System.Diagnostics;
            using ApiVideo.Client;

            namespace Example
            {
                public class createExample
                {
                    public static void Main()
                    {
                        var basePath = ApiVideoClient.Client.Environment.SANDBOX;
                        var apiKey = "YOUR_API_KEY";

                        var apiInstance = new ApiVideoClient(apiKey,basePath);

                        var videoCreationPayload = new VideoCreationPayload(); // VideoCreationPayload | video to create
                        var apiVideosInstance = apiInstance.Videos();
                        try
                        {
                            // Create a video
                            Video result = apiVideosInstance.create(videoCreationPayload);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling VideosApi.create: " + e.Message );
                            Debug.Print("Status Code: "+ e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - language: swift
          code: |
            // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
            // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/VideosAPI.md#create
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--videos
      x-content-type: application/json
      x-accepts: application/json
  /videos/{videoId}/source:
    post:
      description: Ingest a video from a source or file.
      operationId: Videos_ingestVideoFromSource
      parameters:
      - description: Enter the videoId you want to use to upload your video.
        example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: vi4k0jvEUuaTdRAEjQ4Jfrgz
      - description: '`part <part>/<total_parts>` ; `bytes <from_byte>-<to_byte>/<total_bytes>`'
        example: bytes 209715200-419430399/524288000 OR part 2/3
        explode: false
        in: header
        name: Content-Range
        required: false
        schema:
          pattern: /(?:bytes (?<from>\d+)-(?<to>\d+)|part (?<part>\d+))\/(?<total>\d+|\*)/
          type: string
        style: simple
        x-client-ignore: true
        x-konfig-original-example: bytes 209715200-419430399/524288000 OR part 2/3
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/video-upload-payload'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    tags:
                    - maths
                    - string theory
                    - video
                    title: Maths video
                    description: An amazing video explaining the string theory.
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    public: false
                    panoramic: false
                    mp4Support: true
                    playerId: pl45KFKdlddgk654dspkze
                    metadata:
                    - key: Author
                      value: John Doe
                    - key: Format
                      value: Tutorial
                    publishedAt: 4665-07-14T23:36:18.598Z
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                        width="100%" height="100%" frameborder="0" scrolling="no"
                        allowfullscreen=""></iframe>
                      player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                      hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                      thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                      mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4
              schema:
                $ref: '#/components/schemas/video'
          description: Created
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: The source of the video is already uploaded.
                    type: https://docs.api.video/docs/filealreadyuploaded
                    name: file
                    status: 400
                    problems:
                    - title: The source of the video is already uploaded.
                      type: https://docs.api.video/docs/filealreadyuploaded
                      name: file
                    - title: The video xxxx has already been uploaded.
                      type: https://docs.api.video/docs/filealreadyuploaded
                      name: video
                    - title: There is no uploaded file in the request.
                      type: https://docs.api.video/docs/filemissing
                      name: file
                    - title: There is more than one uploaded file in the request.
                      type: https://docs.api.video/docs/multiplefilesuploaded
                      name: file
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: The requested resource was not found.
                    type: https://docs.api.video/docs/resourcenot_found
                    name: videoId
                    status: 404
              schema:
                $ref: '#/components/schemas/not-found'
          description: Not Found
          x-do-not-generate: true
      security:
      - apiKey: []
      summary: Upload a video
      tags:
      - Videos
      x-client-description:
        default: "To upload a video to the videoId you created. You can only upload\
          \ your video to the videoId once.\n\nWe offer 2 types of upload: \n* Regular\
          \ upload \n* Progressive upload\nThe latter allows you to split a video\
          \ source into X chunks and send those chunks independently (concurrently\
          \ or sequentially). The 2 main goals for our users are to\n  * allow the\
          \ upload of video sources > 200 MiB (200 MiB = the max. allowed file size\
          \ for regular upload)\n  * allow to send a video source \"progressively\"\
          , i.e., before before knowing the total size of the video.\n  Once all chunks\
          \ have been sent, they are reaggregated to one source file. The video source\
          \ is considered as \"completely sent\" when the \"last\" chunk is sent (i.e.,\
          \ the chunk that \"completes\" the upload).\n"
      x-client-action: upload
      x-client-chunk-upload: true
      x-doctave:
        explorer-enabled: false
        code-samples:
        - language: go
          code: "// First install the go client with \"go get github.com/apivideo/api.video-go-client\"\
            \n// Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/VideosApi.md#upload\n\
            \npackage main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\
            \    apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_KEY\").Build()\n\
            \    // if you rather like to use the sandbox environment:\n    // client\
            \ := apivideosdk.SandboxClientBuilder(\"YOUR_SANDBOX_API_KEY\").Build()\n\
            \n      videoId := \"vi4k0jvEUuaTdRAEjQ4Jfrgz\" \n    // string | Enter\
            \ the videoId you want to use to upload your video.\n      file := os.NewFile(1234,\
            \ \"some_file\") \n    // *os.File | The path to the video you would like\
            \ to upload. The path must be local. If you want to use a video from an\
            \ online source, you must use the \"/videos\" endpoint and add the \"\
            source\" parameter when you create a new video.\n    \n    \n      res,\
            \ err := client.Videos.UploadFile(videoId, file)\n    \n      // you can\
            \ also use a Reader instead of a File:\n      // client.Videos.Upload(videoId,\
            \ fileName, fileReader, fileSize)\n    \n      if err != nil {\n     \
            \     fmt.Fprintf(os.Stderr, \"Error when calling `Videos.Upload``: %v\\\
            \n\", err)\n      }\n      // response from `Upload`: Video\n      fmt.Fprintf(os.Stdout,\
            \ \"Response from `Videos.Upload`: %v\\\n\", res)\n    }\n      }\n"
        - language: node
          code: "// First install the \"@api.video/nodejs-client\" npm package\n//\
            \ Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/VideosApi.md#upload\n\
            \nconst client = new ApiVideoClient({ apiKey: \"YOUR_API_KEY\" });\n\n\
            const videoId = 'vi4k0jvEUuaTdRAEjQ4Jfrgz'; // Enter the videoId you want\
            \ to use to upload your video.\nconst file = './my-video.mp4'; // The\
            \ path to the video you would like to upload. The path must be local.\
            \ If you want to use a video from an online source, you must use the \"\
            /videos\" endpoint and add the \"source\" parameter when you create a\
            \ new video.\n      \nconst video = await client.videos.upload(videoId,\
            \ file);\n\n// if needed you can define an upload progress listener:\n\
            const video2 = await client.videos.upload(videoId, file, (event) => {\n\
            \  console.log(\"uploadedBytes: \" + event.uploadedBytes);\n  console.log(\"\
            totalBytes: \" + event.totalBytes);\n  console.log(\"chunksCount: \" +\
            \ event.chunksCount);\n  console.log(\"currentChunk: \" + event.currentChunk);\n\
            \  console.log(\"currentChunkTotalBytes: \" + event.currentChunkTotalBytes);\n\
            \  console.log(\"currentChunkUploadedBytes: \" + event.currentChunkUploadedBytes);\n\
            });"
        - language: php
          code: "<?php\n// First install the api client: \"composer require api-video/php-api-client\"\
            \n// Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/VideosApi.md#upload\n\
            \nrequire __DIR__ . '/vendor/autoload.php';\n\n$client = new \\ApiVideo\\\
            Client\\Client(\n    'https://ws.api.video',\n    'YOUR_API_KEY',\n  \
            \  new \\Symfony\\Component\\HttpClient\\Psr18Client()\n);\n\n// create\
            \ a new video & upload a video file\n$myVideo = $client->videos()->create((new\
            \ \\ApiVideo\\Client\\Model\\VideoCreationPayload())->setTitle('Uploaded\
            \ video'));\n$client->videos()->upload($myVideo->getVideoId(), new SplFileObject(__DIR__\
            \ . '/558k.mp4'));\n\n// create a new video & upload a video file using\
            \ progressive upload (the file is uploaded by parts)\n$myVideo2 = $client->videos()->create((new\
            \ \\ApiVideo\\Client\\Model\\VideoCreationPayload())->setTitle('Uploaded\
            \ video (progressive upload)'));\n\n$progressiveSession = $client->videos()->createUploadProgressiveSession($myVideo2->getVideoId());\n\
            \n$progressiveSession->uploadPart(new SplFileObject(__DIR__ . '/10m.mp4.part.a'));\n\
            $progressiveSession->uploadPart(new SplFileObject(__DIR__ . '/10m.mp4.part.b'));\n\
            \n$progressiveSession->uploadLastPart(new SplFileObject(__DIR__ . '/10m.mp4.part.c')); "
        - language: python
          code: |
            # First install the api client with "pip install api.video"
            # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/VideosApi.md#upload

            import apivideo
            from apivideo.api import videos_api
            from apivideo.model.bad_request import BadRequest
            from apivideo.model.not_found import NotFound
            from apivideo.model.video import Video
            from apivideo.configuration import Configuration
            from pprint import pprint

            # Enter a context with an instance of the API client
            # When uploading a file you can change the chunk size (in octet)
            configuration = Configuration(chunk_size=10 * 1024 * 1024)
            with apivideo.AuthenticatedApiClient(__API_KEY__, configuration=configuration) as api_client:
                # Create an instance of the API class
                api_instance = videos_api.VideosApi(api_client)
                video_id = "vi4k0jvEUuaTdRAEjQ4Jfrgz" # str | Enter the videoId you want to use to upload your video.
                file = open('/path/to/file', 'rb') # file_type | The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the "/videos" endpoint and add the "source" parameter when you create a new video.

                # example passing only required values which don't have defaults set
                try:
                    # Upload a video
                    api_response = api_instance.upload(video_id, file)
                    pprint(api_response)
                except apivideo.ApiException as e:
                    print("Exception when calling VideosApi->upload: %s\n" % e)
        - language: java
          code: |
            // First add the "video.api:java-api-client" maven dependency to your project
            // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/VideosApi.md#upload

            import video.api.client.ApiVideoClient;
            import video.api.client.api.ApiException;
            import video.api.client.api.models.*;
            import video.api.client.api.clients.VideosApi;
            import java.util.*;

            public class Example {
              public static void main(String[] args) {
                ApiVideoClient client = new ApiVideoClient("YOUR_API_KEY");
                // if you rather like to use the sandbox environment:
                // ApiVideoClient client = new ApiVideoClient("YOUR_SANDBOX_API_KEY", ApiVideoClient.Environment.SANDBOX);

                VideosApi apiInstance = client.videos();

                String videoId = "vi4k0jvEUuaTdRAEjQ4Jfrgz"; // Enter the videoId you want to use to upload your video.
                File file = new File("/path/to/file"); // The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the "/videos" endpoint and add the "source" parameter when you create a new video.

                try {
                  Video result = apiInstance.upload(videoId, file);
                  System.out.println(result);
                } catch (ApiException e) {
                  System.err.println("Exception when calling VideosApi#upload");
                  System.err.println("Status code: " + e.getCode());
                  System.err.println("Reason: " + e.getMessage());
                  System.err.println("Response headers: " + e.getResponseHeaders());
                  e.printStackTrace();
                }
              }
            }
        - language: android
          code: |
            // First add the "video.api:android-api-client" maven dependency to your project
            // Documentation: https://github.com/apivideo/api.video-android-client/blob/main/docs/VideosApi.md#upload

            VideosApiStore.initialize("YOUR_API_KEY")
            // if you rather like to use the sandbox environment:
            // VideosApiStore.initialize("YOUR_SANDBOX_API_KEY", Environment.SANDBOX)

            val workManager = WorkManager.getInstance(context) // WorkManager comes from package "androidx.work:work-runtime"

            val videoId = "vi4k0jvEUuaTdRAEjQ4Jfrgz" // The videoId you want to use to upload your video.
            val file = File("/path/to/file") // The path to the video you want to upload.

            workManager.upload(videoId, file) // Dispatch the upload with the WorkManager
        - language: csharp
          code: |
            // First add the "ApiVideo" NuGet package to your project
            // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/VideosApi.md#upload

            using System.Diagnostics;
            using ApiVideo.Client;

            namespace Example
            {
                public class uploadExample
                {
                    public static void Main()
                    {
                        var basePath = ApiVideoClient.Client.Environment.SANDBOX;
                        var apiKey = "YOUR_API_KEY";

                        var apiInstance = new ApiVideoClient(apiKey,basePath);

                        var videoId = vi4k0jvEUuaTdRAEjQ4Jfrgz;  // string | Enter the videoId you want to use to upload your video.
                        var file = BINARY_DATA_HERE;  // System.IO.Stream | The path to the video you would like to upload. The path must be local. If you want to use a video from an online source, you must use the "/videos" endpoint and add the "source" parameter when you create a new video.
                        var apiVideosInstance = apiInstance.Videos();
                        try
                        {
                            // Upload a video
                            Video result = apiVideosInstance.upload(videoId, file);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling VideosApi.upload: " + e.Message );
                            Debug.Print("Status Code: "+ e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - language: swift
          code: |
            // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
            // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/VideosAPI.md#upload
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--videos-videoId-source
      x-content-type: multipart/form-data
      x-accepts: application/json
  /watermarks:
    get:
      description: List all watermarks associated with your workspace.
      operationId: Watermarks_listAll
      parameters:
      - description: "Allowed: createdAt. You can search by the time watermark were\
          \ created at."
        example: createdAt
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: createdAt
      - description: "Allowed: asc, desc. asc is ascending and sorts from A to Z.\
          \ desc is descending and sorts from Z to A."
        example: asc
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: asc
      - description: "Choose the number of search results to return per page. Minimum\
          \ value: 1"
        example: 2
        explode: true
        in: query
        name: currentPage
        required: false
        schema:
          default: 1
          example: 1
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-current-page-schema
        style: form
        x-konfig-original-example: 2
      - description: "Results per page. Allowed values 1-100, default is 25."
        example: 30
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          example: 25
          type: integer
          x-konfig-original-example: 25
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-page-size-schema
        style: form
        x-konfig-original-example: 30
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                    - watermarkId: watermark_1BWr2L5MTQwxGkuxKjzh6i
                      createdAt: 2019-12-16T08:25:51.000Z
                    - watermarkId: watermark_3BWC2L5MTQwxGkuxKjzh7g
                      createdAt: 2019-12-16T08:25:51.000Z
                    pagination:
                      currentPage: 1
                      pageSize: 25
                      pagesTotal: 1
                      itemsTotal: 11
                      currentPageItems: 11
                      links:
                      - rel: self
                        uri: https://ws.api.video/watermarks?currentPage=1
                      - rel: first
                        uri: https://ws.api.video/watermarks?currentPage=1
                      - rel: last
                        uri: https://ws.api.video/watermarks?currentPage=1
              schema:
                $ref: '#/components/schemas/watermarks-list-response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: This parameter is out of the allowed range of values.
                    name: page
                    status: 400
                    range:
                      min: 1
                    problems:
                    - title: This parameter is out of the allowed range of values.
                      name: page
                      range:
                        min: 1
                    - title: This parameter is out of the allowed range of values.
                      name: pageSize
                      range:
                        min: 10
                        max: 100
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
          x-do-not-generate: true
      security:
      - apiKey: []
      summary: List all watermarks
      tags:
      - Watermarks
      x-client-action: list
      x-group-parameters: true
      x-client-paginated: true
      x-doctave:
        code-samples:
        - language: node
          code: "// First install the \"@api.video/nodejs-client\" npm package\n//\
            \ Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/WatermarksApi.md#list\n\
            \nconst client = new ApiVideoClient({ apiKey: \"YOUR_API_KEY\" }); \n\n\
            // retrieve the first page of all watermarks\nconst watermarks = await\
            \ client.watermarks.list({});\n\n// retrieve the 5 first watermarks, ordered\
            \ by creation date\nconst watermarks2 = await client.watermarks.list({});\n\
            createdAt\n"
        - language: csharp
          code: |
            // First add the "ApiVideo" NuGet package to your project
            // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/WatermarksApi.md#list
        - language: go
          code: |
            // First install the go client with "go get github.com/apivideo/api.video-go-client"
            // Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/WatermarksApi.md#list
        - language: java
          code: |
            // First add the "video.api:java-api-client" maven dependency to your project
            // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/WatermarksApi.md#list
        - language: php
          code: "<?php\n// First install the api client: \"composer require api-video/php-api-client\"\
            \n// Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/WatermarksApi.md#list\n\
            \nrequire __DIR__ . '/vendor/autoload.php';\n\n$client = new \\ApiVideo\\\
            Client\\Client(\n    'https://ws.api.video',\n    'YOUR_API_KEY',\n  \
            \  new \\Symfony\\Component\\HttpClient\\Psr18Client()\n); \n\n// retrieve\
            \ the first page of all watermarks\n$watermarks =  client->watermarks()->list();\n\
            \n// retrieve the 5 first watermarks, ordered by creation date\n$watermarks2\
            \ = $client->watermarks()->list(array(\n    'pageSize' => 5,\n    'sortBy'\
            \ => 'createdAt',\n    'sortOrder' => 'asc'\n)); "
        - language: python
          code: |
            # First install the api client with "pip install api.video"
            # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/WatermarksApi.md#list
        - language: swift
          code: |
            // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
            // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/WatermarksAPI.md#list
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--watermarks
      x-accepts: application/json
    post:
      description: Create a new watermark by uploading a `JPG` or a `PNG` image.
      operationId: POST_watermark
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/watermark-upload-payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    watermarkId: watermark_1BWr2L5MTQwxGkuxKjzh6i
                    createdAt: 2020-03-03T12:52:03.085Z
              schema:
                $ref: '#/components/schemas/watermark'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: "Only [jpeg, jpg, JPG, JPEG, png, PNG] extensions are supported."
                    status: 400
                    type: https://docs.api.video/docs/fileextension
                    name: file
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
          x-do-not-generate: true
      security:
      - apiKey: []
      summary: Upload a watermark
      tags:
      - Watermarks
      x-client-action: upload
      x-doctave:
        code-samples:
        - language: go
          code: "// First install the go client with \"go get github.com/apivideo/api.video-go-client\"\
            \n// Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/WatermarksApi.md#upload\n\
            \npackage main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\
            \    apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_KEY\").Build()\n\
            \    // if you rather like to use the sandbox environment:\n    // client\
            \ := apivideosdk.SandboxClientBuilder(\"YOUR_SANDBOX_API_KEY\").Build()\n\
            \n    file, _ := os.Open(\"./watermark.jpg\")\n    \n    res, err := client.Watermarks.UploadFile(file)\n\
            \n    if err != nil {\n        fmt.Fprintf(os.Stderr, \"Error when calling\
            \ `Watermarks.UploadFile``: %v\", err)\n    }\n    // response from `UploadFile`:\
            \ Watermark\n    fmt.Fprintf(os.Stdout, \"Response from `Watermarks.UploadFile`:\
            \ %v\", res)\n}\n"
        - language: node
          code: |
            // First install the "@api.video/nodejs-client" npm package
            // Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/WatermarksApi.md#upload

            const client = new ApiVideoClient({ apiKey: "YOUR_API_KEY" });

            // Upload a watermark
            const watermark = await client.watermarks.upload('test/data/test.jpg');

            // create a video with watermark
            const watermarkVideo = await client.videos.create({
              title: 'Nodejs - watermark',
              watermark: {
                id: watermark.watermarkId,
                top: '0px',
                left: '0px',
                width: '100px',
                height: '100px',
              },
            });
        - language: php
          code: "<?php\n// First install the api client: \"composer require api-video/php-api-client\"\
            \n// Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/WatermarksApi.md#upload\n\
            \nrequire __DIR__ . '/vendor/autoload.php';\n\n$client = new \\ApiVideo\\\
            Client\\Client(\n    'https://ws.api.video',\n    'YOUR_API_KEY',\n  \
            \  new \\Symfony\\Component\\HttpClient\\Psr18Client()\n);\n\n// upload\
            \ the watermark\n$watermark = $client->watermarks()->upload(new SplFileObject(__DIR__\
            \ . '/watermark.png'));\n\n// create a new video with the watermark\n\
            $video = $client->videos()->create((new VideoCreationPayload())\n    \
            \    ->setWatermark((new VideoWatermark())\n                ->setId($watermark->getWatermarkId())\n\
            \                ->setTop(\"0px\")\n                ->setLeft(\"0px\"\
            )\n                ->setWidth(\"100px\")\n                ->setHeight(\"\
            100px\"))\n        ->setTitle(\"Test PHP watermark\")\n);\n\n// upload\
            \ the video\n$client->videos()->upload($video->getVideoId(), new SplFileObject(__DIR__\
            \ . '/558k.mp4')); \n"
        - language: python
          code: |
            # First install the api client with "pip install api.video"
            # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/WatermarksApi.md#upload

            import apivideo
            from apivideo.api import videos_api
            from apivideo.model.bad_request import BadRequest
            from apivideo.model.not_found import NotFound
            from pprint import pprint

            # Enter a context with an instance of the API client
            with apivideo.AuthenticatedApiClient(__API_KEY__) as api_client:
                # Create an instance of the API class
                api_instance = videos_api.WatermarksApi(api_client)
                file = open('/path/to/file', 'rb') # file_type | The watermark image.

                # example passing only required values which don't have defaults set
                try:
                    # Upload a watermark
                    api_response = api_instance.upload(file)
                    pprint(api_response)
                except apivideo.ApiException as e:
                    print("Exception when calling WatermarksApi->upload: %s\
            " % e)
        - language: java
          code: |
            // First add the "video.api:java-api-client" maven dependency to your project
            // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/WatermarksApi.md#upload

            import video.api.client.ApiVideoClient;
            import video.api.client.api.ApiException;
            import video.api.client.api.models.*;
            import video.api.client.api.clients.WatermarksApi;
            import java.util.*;

            public class Example {
             public static void main(String[] args) {
               ApiVideoClient client = new ApiVideoClient("YOUR_API_KEY");
               // if you rather like to use the sandbox environment:
               // ApiVideoClient client = new ApiVideoClient("YOUR_SANDBOX_API_KEY", ApiVideoClient.Environment.SANDBOX);

               WatermarksApi watermarkApi = apiClient.watermarks();

               File file = new File("/path/to/file"); // The watermark image.

               try {
                 Watermark result = watermarkApi.upload(file);
                 System.out.println(result);
               } catch (ApiException e) {
                 System.err.println("Exception when calling WatermarksApi#upload");
                 System.err.println("Status code: " + e.getCode());
                 System.err.println("Reason: " + e.getMessage());
                 System.err.println("Response headers: " + e.getResponseHeaders());
                 e.printStackTrace();
               }
             }
            }
        - language: csharp
          code: |
            // First add the "ApiVideo" NuGet package to your project
            // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/WatermarksApi.md#upload

            using System.Diagnostics;
            using ApiVideo.Client;

            namespace Example
            {
                public class uploadWatermarkExample
                {
                    public static void Main()
                    {
                        var basePath = ApiVideoClient.Client.Environment.SANDBOX;
                        var apiKey = "YOUR_API_KEY";

                        var apiInstance = new ApiVideoClient(apiKey,basePath);

                        var file = File.OpenRead("watermark.jpg");  // The watermark image.
                        var apiWatermarksInstance = apiInstance.Watermarks();

                        try
                        {
                            // Upload a watermark
                            Video result = apiWatermarksInstance.upload(videoId, file);
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling WatermarksApi.upload: " + e.Message );
                            Debug.Print("Status Code: "+ e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
        - language: swift
          code: |
            // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
            // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/WatermarksAPI.md#upload
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--watermarks
      x-content-type: multipart/form-data
      x-accepts: application/json
  /watermarks/{watermarkId}:
    delete:
      description: Delete a watermark.
      operationId: DELETE_watermark
      parameters:
      - description: The watermark ID for the watermark you want to delete.
        example: watermark_1BWr2L5MTQwxGkuxKjzh6i
        explode: false
        in: path
        name: watermarkId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: watermark_1BWr2L5MTQwxGkuxKjzh6i
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: The requested resource was not found.
                    type: https://docs.api.video/docs/resourcenot_found
                    name: watermarkId
                    status: 404
              schema:
                $ref: '#/components/schemas/not-found'
          description: Not Found
          x-do-not-generate: true
      security:
      - apiKey: []
      summary: Delete a watermark
      tags:
      - Watermarks
      x-client-action: delete
      x-doctave:
        code-samples:
        - language: node
          code: "// First install the \"@api.video/nodejs-client\" npm package\n//\
            \ Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/WatermarksApi.md#delete\n\
            \nconst client = new ApiVideoClient({ apiKey: \"YOUR_API_KEY\" }); \n\n\
            const watermarkId = 'watermark_1Bji68oeAAwR44dAb5ZhML'; // The watermark\
            \ ID for the watermark you want to delete.\n\nclient.watermarks.delete(watermarkId);"
        - language: csharp
          code: |
            // First add the "ApiVideo" NuGet package to your project
            // Documentation: https://github.com/apivideo/api.video-csharp-client/blob/main/docs/WatermarksApi.md#delete
        - language: go
          code: |
            // First install the go client with "go get github.com/apivideo/api.video-go-client"
            // Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/WatermarksApi.md#delete
        - language: java
          code: |
            // First add the "video.api:java-api-client" maven dependency to your project
            // Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/WatermarksApi.md#delete
        - language: php
          code: "<?php\n// First install the api client: \"composer require api-video/php-api-client\"\
            \n// Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/WatermarksApi.md#list\n\
            \nrequire __DIR__ . '/vendor/autoload.php';\n\n$client = new \\ApiVideo\\\
            Client\\Client(\n    'https://ws.api.video',\n    'YOUR_API_KEY',\n  \
            \  new \\Symfony\\Component\\HttpClient\\Psr18Client()\n); \n\n$watermarkId\
            \ = 'watermark_1Bji68oeAAwR44dAb5ZhML'; // The watermark ID for the watermark\
            \ you want to delete.\n\n$client->watermarks->delete(watermarkId);"
        - language: python
          code: |
            # First install the api client with "pip install api.video"
            # Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/WatermarksApi.md#delete
        - language: swift
          code: |
            // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
            // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/WatermarksAPI.md#delete
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--watermarks-watermarkId
      x-accepts: application/json
  /videos/{videoId}/thumbnail:
    patch:
      description: Set a thumbnail from a specific time interval within a video.
      operationId: Videos_setThumbnailFromInterval
      parameters:
      - description: "Unique identifier of the video you want to add a thumbnail to,\
          \ where you use a section of your video as the thumbnail."
        example: vi4k0jvEUuaTdRAEjQ4Jfrgz
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: vi4k0jvEUuaTdRAEjQ4Jfrgz
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-thumbnail-pick-payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    tags:
                    - maths
                    - string theory
                    - video
                    title: Maths video
                    description: An amazing video explaining string theory
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    playerId: pl45KFKdlddgk654dspkze
                    public: false
                    panoramic: false
                    mp4Support: true
                    metadata:
                    - key: Author
                      value: John Doe
                    - key: Format
                      value: Tutorial
                    publishedAt: 4665-07-14T23:36:18.598Z
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                        width="100%" height="100%" frameborder="0" scrolling="no"
                        allowfullscreen=""></iframe>
                      player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                      hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                      thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                      mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4
              schema:
                $ref: '#/components/schemas/video'
          description: Success
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: The requested resource was not found.
                    type: https://docs.api.video/docs/resourcenot_found
                    name: videoId
                    status: 404
              schema:
                $ref: '#/components/schemas/not-found'
          description: Not Found
          x-do-not-generate: true
      security:
      - apiKey: []
      summary: Set a thumbnail
      tags:
      - Videos
      x-client-description:
        default: "Pick a thumbnail from the given time code. \n\nIf you'd like to\
          \ upload an image for your thumbnail, use the dedicated [method](https://raw.githubusercontent.com).\
          \ \n\nThere may be a short delay for the thumbnail to update.\n"
      x-client-action: pickThumbnail
      x-doctave:
        code-samples:
        - language: go
          code: "// First install the go client with \"go get github.com/apivideo/api.video-go-client\"\
            \n// Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/VideosApi.md#pickThumbnail\n\
            \npackage main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\
            \    apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_KEY\").Build()\n\
            \    // if you rather like to use the sandbox environment:\n    // client\
            \ := apivideosdk.SandboxClientBuilder(\"YOUR_SANDBOX_API_KEY\").Build()\n\
            \        \n    videoId := \"vi4k0jvEUuaTdRAEjQ4Jfrgz\" // string | Unique\
            \ identifier of the video you want to add a thumbnail to, where you use\
            \ a section of your video as the thumbnail.\n    videoThumbnailPickPayload\
            \ := *apivideosdk.NewVideoThumbnailPickPayload(\"Timecode_example\") //\
            \ VideoThumbnailPickPayload | \n\n    \n    res, err := client.Videos.PickThumbnail(videoId,\
            \ videoThumbnailPickPayload)\n\n    if err != nil {\n        fmt.Fprintf(os.Stderr,\
            \ \"Error when calling `Videos.PickThumbnail``: %v\\\n\", err)\n    }\n\
            \    // response from `PickThumbnail`: Video\n    fmt.Fprintf(os.Stdout,\
            \ \"Response from `Videos.PickThumbnail`: %v\\\n\", res)\n}\n"
        - language: node
          code: "// First install the \"@api.video/nodejs-client\" npm package\n//\
            \ Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/VideosApi.md#pickThumbnail\n\
            \nconst client = new ApiVideoClient({ apiKey: \"YOUR_API_KEY\" });\n\n\
            const videoId = 'vi4k0jvEUuaTdRAEjQ4Jfrgz'; // Unique identifier of the\
            \ video you want to add a thumbnail to, where you use a section of your\
            \ video as the thumbnail.\nconst videoThumbnailPickPayload = {\n  timecode:\
            \ \"00:01:00.000\",  // Frame in video to be used as a placeholder before\
            \ the video plays. \n}; \n\nconst video = await client.videos.pickThumbnail(videoId,\
            \ videoThumbnailPickPayload);\n"
        - language: python
          code: "# First install the api client with \"pip install api.video\"\n#\
            \ Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/VideosApi.md#pickThumbnail\n\
            \nimport apivideo\nfrom apivideo.api import videos_api\nfrom apivideo.model.video_thumbnail_pick_payload\
            \ import VideoThumbnailPickPayload\nfrom apivideo.model.not_found import\
            \ NotFound\nfrom apivideo.model.video import Video\nfrom pprint import\
            \ pprint\n\n# Enter a context with an instance of the API client\nwith\
            \ apivideo.AuthenticatedApiClient(__API_KEY__) as api_client:\n    # Create\
            \ an instance of the API class\n    api_instance = videos_api.VideosApi(api_client)\n\
            \    video_id = \"vi4k0jvEUuaTdRAEjQ4Jfrgz\" # str | Unique identifier\
            \ of the video you want to add a thumbnail to, where you use a section\
            \ of your video as the thumbnail.\n    video_thumbnail_pick_payload =\
            \ VideoThumbnailPickPayload(\n        timecode=\"04:80:72\",\n    ) #\
            \ VideoThumbnailPickPayload | \n\n    # example passing only required\
            \ values which don't have defaults set\n    try:\n        # Pick a thumbnail\n\
            \        api_response = api_instance.pick_thumbnail(video_id, video_thumbnail_pick_payload)\n\
            \        pprint(api_response)\n    except apivideo.ApiException as e:\n\
            \        print(\"Exception when calling VideosApi->pick_thumbnail: %s\\\
            \n\" % e)\n"
        - language: java
          code: "// First add the \"video.api:java-api-client\" maven dependency to\
            \ your project\n// Documentation: https://github.com/apivideo/api.video-java-client/blob/main/docs/VideosApi.md#pickThumbnail\n\
            \nimport video.api.client.ApiVideoClient;\nimport video.api.client.api.ApiException;\n\
            import video.api.client.api.models.*;\nimport video.api.client.api.clients.VideosApi;\n\
            import java.util.*;\n\npublic class Example {\n  public static void main(String[]\
            \ args) {\n    ApiVideoClient client = new ApiVideoClient(\"YOUR_API_KEY\"\
            );\n    // if you rather like to use the sandbox environment:\n    //\
            \ ApiVideoClient client = new ApiVideoClient(\"YOUR_SANDBOX_API_KEY\"\
            , ApiVideoClient.Environment.SANDBOX);\n\n    VideosApi apiInstance =\
            \ client.videos();\n    \n    String videoId = \"vi4k0jvEUuaTdRAEjQ4Jfrgz\"\
            ; // Unique identifier of the video you want to add a thumbnail to, where\
            \ you use a section of your video as the thumbnail.\n    VideoThumbnailPickPayload\
            \ videoThumbnailPickPayload = new VideoThumbnailPickPayload(); // \n \
            \   videoThumbnailPickPayload.setTimecode(\"null\"); // Frame in video\
            \ to be used as a placeholder before the video plays.\nExample: &#39;&quot;00:01:00.000&quot;\
            \ for 1 minute into the video.&#39;\nValid Patterns:\n&quot;hh:mm:ss.ms&quot;\n\
            &quot;hh:mm:ss:frameNumber&quot;\n&quot;124&quot; (integer value is reported\
            \ as seconds)\nIf selection is out of range, &quot;00:00:00.00&quot; will\
            \ be chosen.\n\n\n    try {\n      Video result = apiInstance.pickThumbnail(videoId,\
            \ videoThumbnailPickPayload);\n      System.out.println(result);\n   \
            \ } catch (ApiException e) {\n      System.err.println(\"Exception when\
            \ calling VideosApi#pickThumbnail\");\n      System.err.println(\"Status\
            \ code: \" + e.getCode());\n      System.err.println(\"Reason: \" + e.getMessage());\n\
            \      System.err.println(\"Response headers: \" + e.getResponseHeaders());\n\
            \      e.printStackTrace();\n    }\n  }\n}        \n"
        - language: csharp
          code: "// First add the \"ApiVideo\" NuGet package to your project\n// Documentation:\
            \ https://github.com/apivideo/api.video-csharp-client/blob/main/docs/VideosApi.md#pickThumbnail\n\
            \nusing System.Diagnostics;\nusing ApiVideo.Client;\n\nnamespace Example\n\
            {\n    public class pickThumbnailExample\n    {\n        public static\
            \ void Main()\n        {\n            var basePath = ApiVideoClient.Client.Environment.SANDBOX;\n\
            \            var apiKey = \"YOUR_API_KEY\";\n\n            var apiInstance\
            \ = new ApiVideoClient(apiKey,basePath);\n\n            var videoId =\
            \ vi4k0jvEUuaTdRAEjQ4Jfrgz;  // string | Unique identifier of the video\
            \ you want to add a thumbnail to, where you use a section of your video\
            \ as the thumbnail.\n            var videoThumbnailPickPayload = new VideoThumbnailPickPayload();\
            \ // VideoThumbnailPickPayload | \n            var apiVideosInstance =\
            \ apiInstance.Videos();\n            try\n            {\n            \
            \    // Pick a thumbnail\n                Video result = apiVideosInstance.pickThumbnail(videoId,\
            \ videoThumbnailPickPayload);\n                Debug.WriteLine(result);\n\
            \            }\n            catch (ApiException  e)\n            {\n \
            \               Debug.Print(\"Exception when calling VideosApi.pickThumbnail:\
            \ \" + e.Message );\n                Debug.Print(\"Status Code: \"+ e.ErrorCode);\n\
            \                Debug.Print(e.StackTrace);\n            }\n        }\n\
            \    }\n}              \n"
        - language: php
          code: "<?php\n// First install the api client: \"composer require api-video/php-api-client\"\
            \n// Documentation: https://github.com/apivideo/api.video-php-client/blob/main/docs/Api/VideosApi.md#pickThumbnail\n\
            \nrequire __DIR__ . '/vendor/autoload.php';\n\n$client = new \\ApiVideo\\\
            Client\\Client(\n    'https://ws.api.video',\n    'YOUR_API_KEY',\n  \
            \  new \\Symfony\\Component\\HttpClient\\Psr18Client()\n);\n \n$videoId\
            \ = 'vi4k0jvEUuaTdRAEjQ4Jfrgz'; // Unique identifier of the video you\
            \ want to add a thumbnail to, where you use a section of your video as\
            \ the thumbnail.\n\n$video = $client->videos()->pickThumbnail($videoId,\
            \ (new \\ApiVideo\\Client\\Model\\VideoThumbnailPickPayload())\n    ->setTimecode(\"\
            00:01:00.000\")); // Frame in video to be used as a placeholder before\
            \ the video plays. "
        - language: swift
          code: |
            // First install the api client: https://github.com/apivideo/api.video-swift-client#getting-started
            // Documentation: https://github.com/apivideo/api.video-swift-client/blob/main/docs/VideosAPI.md#pickThumbnail
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--videos-videoId-thumbnail
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Upload a thumbnail for a certain video.
      operationId: Videos_uploadThumbnail
      parameters:
      - description: 'Unique identifier of the chosen video '
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/video-thumbnail-upload-payload'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    tags:
                    - maths
                    - string theory
                    - video
                    title: Maths video
                    description: An amazing video explaining the string theory
                    videoId: vi4blUQJFrYWbaG44NChkH27
                    playerId: pl45KFKdlddgk654dspkze
                    public: false
                    panoramic: false
                    mp4Support: true
                    metadata:
                    - key: Author
                      value: John Doe
                    - key: Format
                      value: Tutorial
                    createdAt: 2020-03-03T12:52:03.085Z
                    publishedAt: 2020-07-14T23:36:18.598Z
                    source:
                      uri: /videos/vi4blUQJFrYWbaG44NChkH27/source
                    assets:
                      iframe: <iframe src="https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27"
                        width="100%" height="100%" frameborder="0" scrolling="no"
                        allowfullscreen=""></iframe>
                      player: https://embed.api.video/vod/vi4blUQJFrYWbaG44NChkH27
                      hls: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/hls/manifest.m3u8
                      thumbnail: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/thumbnail.jpg
                      mp4: https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/source.mp4
              schema:
                $ref: '#/components/schemas/video'
          description: Success
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: "Only [jpeg, jpg, JPG, JPEG] extensions are supported."
                    status: 400
                    type: https://docs.api.video/docs/fileextension
                    name: file
              schema:
                $ref: '#/components/schemas/bad-request'
          description: Bad Request
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    title: The requested resource was not found.
                    type: https://docs.api.video/docs/resourcenot_found
                    name: videoId
                    status: 404
              schema:
                $ref: '#/components/schemas/not-found'
          description: Not Found
          x-do-not-generate: true
      security:
      - apiKey: []
      summary: Upload a thumbnail
      tags:
      - Videos
      x-client-description:
        default: |-
          The thumbnail is the poster that appears in the player window before video playback begins.

          This endpoint allows you to upload an image for the thumbnail.

          To select a still frame from the video using a time stamp, use the [dedicated method](https://raw.githubusercontent.com) to pick a time in the video.

          Note: There may be a short delay before the new thumbnail is delivered to our CDN.
      x-client-action: uploadThumbnail
      x-doctave:
        explorer-enabled: false
        code-samples:
        - language: go
          code: "// First install the go client with \"go get github.com/apivideo/api.video-go-client\"\
            \n// Documentation: https://github.com/apivideo/api.video-go-client/blob/main/docs/VideosApi.md#uploadThumbnail\n\
            \npackage main\n\nimport (\n    \"context\"\n    \"fmt\"\n    \"os\"\n\
            \    apivideosdk \"github.com/apivideo/api.video-go-client\"\n)\n\nfunc\
            \ main() {\n    client := apivideosdk.ClientBuilder(\"YOUR_API_KEY\").Build()\n\
            \    // if you rather like to use the sandbox environment:\n    // client\
            \ := apivideosdk.SandboxClientBuilder(\"YOUR_SANDBOX_API_KEY\").Build()\n\
            \n    videoId := \"videoId_example\" // string | Unique identifier of\
            \ the chosen video \n    file := os.NewFile(1234, \"some_file\") // *os.File\
            \ | The image to be added as a thumbnail.\n\n\n    res, err := client.Videos.UploadThumbnailFile(videoId,\
            \ file)\n\n    // you can also use a Reader instead of a File:\n    //\
            \ client.Videos.UploadThumbnail(videoId, fileName, fileReader)\n\n   \
            \ if err != nil {\n        fmt.Fprintf(os.Stderr, \"Error when calling\
            \ `Videos.UploadThumbnail``: %v\\\n\", err)\n    }\n    // response from\
            \ `UploadThumbnail`: Video\n    fmt.Fprintf(os.Stdout, \"Response from\
            \ `Videos.UploadThumbnail`: %v\\\n\", res)\n}\n"
        - language: node
          code: "// First install the \"@api.video/nodejs-client\" npm package\n//\
            \ Documentation: https://github.com/apivideo/api.video-nodejs-client/blob/main/doc/api/VideosApi.md#uploadThumbnail\n\
            \nconst client = new ApiVideoClient({ apiKey: \"YOUR_API_KEY\" });\n\n\
            const videoId = 'videoId_example'; // Unique identifier of the chosen\
            \ video \nconst file = './thumbnail.jpg'; // The image to be added as\
            \ a thumbnail.\n\nconst video = await client.videos.uploadThumbnail(videoId,\
            \ file);"
        - language: python
          code: "# First install the api client with \"pip install api.video\"\n#\
            \ Documentation: https://github.com/apivideo/api.video-python-client/blob/main/docs/VideosApi.md#uploadThumbnail\n\
[...]
